* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #6B7A99;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    .Cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Card, .LastCard {
        margin-right: 20px;
        margin: 300px;
    }

    .Card1 {
        margin-right: 20px;
        margin: 250px;
        margin-top: 30px;
    }

    .LastCard {
        margin-bottom: 600px;
    }
}

@media only screen and (min-width: 600px) {
    .Cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }


    .Card, .Card1, .LastCard {
        margin-bottom: 800px;
    }
}

.Price {
    font-weight: bold;
    font-size: 25px;
}