* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #6B7A99;
    margin: 10px;
}
@media only screen and (min-width: 600px) {
.Cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
}

.Cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}