.card {
    margin: 40px;
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 200px;
}

.title {
    color: #6B7A99;
}

.text {
    font-size: 25px;
    font-weight: 700;
}